*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
#main{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
}
section header #nav{
    border: 2px solid yellow;
    width: 100%;
    height: 80px;
    display: flex;
    /* background-image: linear-gradient(to right, red 20%, yellow 50%, blue 80%); */
    background-color: grey;
    border-style: none;
}
#nav div{
    /* border: 2px solid green; */
    margin-left: 80px;
    margin-top: 20px;
}
#nav ol{
    /* border: 2px solid aqua; */
    list-style: none;
    display: flex;
    margin-left:55%;
    width: 350px;
    margin-top: 20px;
}
#nav ol li {
    align-items: center;
    justify-content: space-between;
    flex: auto;
    padding-top: 10px;
    font-size: 15px;
    color: white;
}
li:hover {
 cursor: pointer;
 /* border: 2px solid yellow; */
 background-color: green;
 border-radius: 10px;
 padding: 15px 15px 15px ;
}
#main .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background-color: grey;
    color: white;
    text-align: center;
    flex-direction: column;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 250px;
    color: white;
}




